services:

  fuseki:
    image: ${FUSEKI_IMAGE}
    ports:
      - "3030:3030"
    environment:
      - ADMIN_PASSWORD=${FUSEKI_ADMIN_PASSWORD}
    volumes:
      - fuseki_data:/fuseki

  init_fuseki:
    build: ./init_fuseki
    depends_on:
      - fuseki
    environment:
      - FUSEKI_ENDPOINT=${FUSEKI_ENDPOINT}
      - FUSEKI_USER=${FUSEKI_USER}
      - FUSEKI_PASSWORD=${FUSEKI_PASSWORD}
      - FUSEKI_DATASET=${FUSEKI_DATASET}
      - FUSEKI_GRAPH=${FUSEKI_GRAPH}
      - CURRENT_RELEASE=${CURRENT_RELEASE}
    volumes:
      - ./ontologias:/app/ontologias

  mongo:
    image: ${MONGO_IMAGE}
    restart: always
    ports:
      - "${MONGO_PORT}:27017"
    volumes:
      - mongo_data:/data/db

  backend:
    build: ./backend
    depends_on:
      - mongo
      - fuseki
      - reasoner
    environment:
      - MONGO_URL=${MONGO_URL}
      - FUSEKI_ENDPOINT=${FUSEKI_ENDPOINT}
      - FUSEKI_USER=${FUSEKI_USER}
      - FUSEKI_PASSWORD=${FUSEKI_PASSWORD}
      - FUSEKI_GRAPH=${FUSEKI_GRAPH}
      - FUSEKI_DATASET=${FUSEKI_DATASET}
      - FUSEKI_GRAPH_DATA=${FUSEKI_GRAPH_DATA}
      - ONTOLOGY_PATH=${ONTOLOGY_PATH}
      - REASONER_SERVICE_URL=${REASONER_SERVICE_URL}
    ports:
      - "${BACKEND_PORT}:8000"
    volumes:
      - ./backend:/app
      - ./ontologias/versions/${CURRENT_RELEASE}/ontologia-v${CURRENT_RELEASE}.ttl:/ontologias/ontologia-v${CURRENT_RELEASE}.ttl:ro

  reasoner:
    build: ./reasoner_service
    environment:
      - ONTOLOGY_PATH=${ONTOLOGY_PATH}
    volumes:
      - ./ontologias/versions/${CURRENT_RELEASE}/ontologia-v${CURRENT_RELEASE}.ttl:/ontologias/ontologia-v${CURRENT_RELEASE}.ttl:ro
      - ./ontologias/rules:/ontologias/rules:ro
    ports:
      - "${REASONER_PORT}:8000"
    command: uvicorn app.main:app --host 0.0.0.0 --port 8000


  ontologias:
    build: ./ontologias
    ports:
      - "${ONTOLOGIES_PORT}:80"
    volumes:
      - ./ontologias/json-ld-context.json:/usr/share/nginx/html/json-ld-context.json:ro
      - ./ontologias/docs:/usr/share/nginx/html/docs:ro

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    volumes:
      - ./frontend/src:/app/src
      - ./frontend/public:/app/public
      - ./frontend/index.html:/app/index.html
      - ./frontend/vite.config.ts:/app/vite.config.ts
      - ./frontend/tsconfig.json:/app/tsconfig.json
      - ./frontend/tsconfig.app.json:/app/tsconfig.app.json
      - ./frontend/tsconfig.node.json:/app/tsconfig.node.json
      - ./frontend/.env:/app/.env
      - frontend_node_modules:/app/node_modules
    ports:
      - "${FRONTEND_PORT}:5173"
    depends_on:
      - backend
    environment:
      - NODE_ENV=${NODE_ENV}
      - VITE_FUSEKI_USER=${VITE_FUSEKI_USER}
      - VITE_FUSEKI_PASSWORD=${VITE_FUSEKI_PASSWORD}
      
volumes:
  fuseki_data:
  mongo_data:
  frontend_node_modules:
